<!--
Randomized Nishad's Picks
Author:: Ben, Stephen
-->
<% @quotes = ["These are some of my favorites", "Check out these spicy papers"] %>
<div id="nishad-quote" class="row">
  <img id="nishad-image" src="nishad.JPG" alt="Nishad">
  <h3>Nishad's Picks:</h3><br>
  <i><% @quotes.sample %> ― Nishad </i>
</div>
<div class="image-row">
  <% @nishad.each do |wallpaper| %>
    <div class="col-lg-auto col-md-3 col-sm-6 col-xs-12">
      <a class="wallpaper img-thumbnail img-responsive" href="<%= wallpaper_path(wallpaper) %>" style="width:100%; background-image: url(<%=wallpaper.image.url(:index) %>)"></a>
    </div>
  <% end %>
</div>
