<!--
Randomized Nishad's Picks
Author:: Ben, Stephen
-->
<!-- List of quotes -->
<% @quotes = ["These are some of my favorites",
              "Check out these spicy 'papes",
              "I like wallpapers. Yes I do. I like wallpapers how 'bout you?",
              "I have dedicated my life to wallpapers. These are my suggestions.",
              "There's nothing better in life than a gud wallpaper",
              "SELECT * FROM WALLPAPERS WHERE QUALITY='GUD'",
              "I have a very particular set of wallpapers. Wallpapers I have acquired over a very long career. Wallpapers that make me a nightmare for people like you.",
              "These are my wallpapers. There are many like them, but these are mine. Without me, my wallpapers are useless. Without my wallpapers, I am useless.",
              "Ah, you think wallpapers are your ally? You merely adopted the wallpapers. I was born in them, molded by them. I didn't see the default background until I was already a man, by then it was nothing to me but blinding!",
              "Ask not what your wallpaper can do for you―ask what you can do for your wallpaper",
              "There are three constants in life: Death, Taxes, and Wallpapers",
              "My wallpapers are too strong for you, traveler. You can't handle them.",
              "I'm Nishad Prabhu, and this is my wallpaper shop.",
              "To be fair, you have to have a very high IQ to understand these wallpapers.",
              "Are wallpapers an instrument?",
              "How Can Wallpapers Be Real If Our Eyes Aren't Real"
              ] %>
<div id="nishad-quote" class="row">
  <img id="nishad-image" src="nishad.JPG" alt="Nishad">
  <h3>Nishad's Picks:</h3><br>
  <i>"<%= @quotes.sample %>" ― Nishad </i>
</div>
<div class="image-row">
  <!-- Display the 4 images -->
  <% @nishad.each do |wallpaper| %>
    <div class="col-lg-auto col-md-3 col-sm-6 col-xs-12">
      <a class="wallpaper img-thumbnail img-responsive" href="<%= wallpaper_path(wallpaper) %>" style="width:100%; background-image: url(<%=wallpaper.image.url(:index) %>)"></a>
    </div>
  <% end %>
</div>
