<%#
Wallpaper index page -- show many loaded wallpapers

Author:: Nishad
#%>
<section id="content" class="container">
  <% if params[:search].nil? && params[:title].nil? && params[:tags].nil?%>
    <section id="sort-buttons" class="row">
      <div class="btn-group">
        <a href="/popular" class="btn btn-default">Popular</a>
        <a href="/top" class="btn btn-default">Top</a>
        <a href="/latest" class="btn btn-default">Latest</a>
      </div>
    </section>
  <% end %>
  <section id="nishads-picks">
    <%= render "nishad" %>
  </section>
  <section id="wallpapers">
    <%= render "/partials/images" %>
  </section>
</section>
<br>

<div id="load-more">Load More</button>
</div>
<div id="infinite-scrolling">
  <%= paginate @wallpapers %>
</div>
