<%#
Wallpaper index page -- show many loaded wallpapers

Author:: Nishad
#%>

<section id="content" class="container" width="100%">
  <section id="buttons" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <a href="/popular" class="btn btn-default">Popular</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <a href="/top" class="btn btn-default">Top</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <a href="/latest" class="btn btn-default">Latest</a>
    </div>
  </section>
  <section id="wallpapers">
    <%= render "/partials/images" %>
  </section>
</section>
<br>

<div id="load-more">Load More</button>
</div>
<div id="infinite-scrolling">
  <%= paginate @wallpapers %>
</div>
