
<section id="content" class="container" width="100%">
  <section id="wallpapers">
    <%= render "/partials/images" %>
  </section>
</section>
<br>

<div id="load-more">Load More</button>
</div>
<div id="infinite-scrolling">
  <%= paginate @wallpapers %>
</div>
