<p id="notice"><%= notice %></p>

<h1>Listing Wallpapers</h1>
<%= link_to 'Upload', new_wallpaper_path %>
<section id="content">
  <section id="wallpapers">
    <%= render "/partials/images" %>
  </section>
</section>
<br>

<div id="load-more">Load More</button>
</div>
<div id="infinite-scrolling">
  <%= paginate @wallpapers %>
</div>
