<%#
Insert a row of 4 wallpapers until we are out of wallpapers.

Author:: Nishad
Update(11/28/17):: [Martin] Added a message for when search returns no wallpapers.
Update(11/30/17):: [Martin] Added display messages for advanced search.
#%>

<!-- Display wallpapers -->
<% @wallpapers.each_slice(4) do |slice| %>
  <div class="image-row">
    <% slice.each do |wallpaper| %>
      <div class="col-lg-auto col-md-3 col-sm-6 col-xs-12">
        <a class="wallpaper img-thumbnail img-responsive" href="<%= wallpaper_path(wallpaper) %>" style="width:100%; background-image: url(<%=wallpaper.image.url(:index) %>)"></a>
      </div>
    <% end %>
  </div>
<% end %>
