<%#
View logged in user page

Author:: Stephen
Help:: https://auth0.com/docs/quickstart/webapp/rails/03-user-profile
#%>

<section class="jumbotron text-center">
  <h1>Welcome, <%= @user.name %></h1>
</section>
