<%#
View logged in user page

Author:: Stephen, Nishad
Help:: https://auth0.com/docs/quickstart/webapp/rails/03-user-profile
#%>

<section id="content" class="container">
  <section id="buttons" class="row">
    <div class="col-lg-4 col-md-4 col-sm-12">
      <a href="<%= "/users/" + params[:id] + "/uploads"%>" class="btn btn-default">Uploads</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      <a href="<%= "/users/" + params[:id] + "/favorites"%>" class="btn btn-default">Favorites</a>
    </div>
  </section>
  <section id="page-header-section">
    <h2 id="page-header"><%= params[:gallery] == "favorites" ? "Your Favorites" : "Your Uploads" %></h2>
  </section>
  <section id="wallpapers">
    <%= render "/partials/images" %>
  </section>
</section>
